@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to TreatsFlavors</h1>
    <p class="lead">Explore a world of delicious treats and flavors!</p>

    <div class="my-4">
        <a href="@Url.Action("Index", "Treats")" class="btn btn-primary btn-lg mx-2">Browse Treats</a>
        <a href="@Url.Action("Index", "Flavors")" class="btn btn-success btn-lg mx-2">Discover Flavors</a>
    </div>

 
</div>
